* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    background-color: #f9f9f9;
}

.logo img {
    /* Add border radius for logo */
    border-radius: 20px;
    /* Ensures the logo covers the area without distortion */
    object-fit: cover;
}

h1 {
    margin: 20px;
    color: #5C2F8E;
}

.assertion {
    color: #C09EC6;
    font-size: 25px;
    text-align: center;
}

.option {
    margin-top: 40px;
}

.option p{
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    color: #464545;
}

.option .login-btn {
    width: 300px;
    padding: 10px 0;
    border-radius: 99px;
    border: none;
    background-color: #FCF28F;
    color: #626161;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.option .login-btn:hover {
    background-color: #f5e76d;
}

.option .reg-btn {
    width: 300px;
    padding: 10px 0;
    border-radius: 99px;
    border: none;
    background-color: #baa9cd;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.option .reg-btn:hover{
    background-color: #b49dcb;
}

.terms {
    width: 200px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
}
