* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
}

div {
    text-align: center;
}

.logo img {
    margin: 50px 0px 10px;
    border-radius: 30px;
}

.welcom {
    color: #422256;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

.verify_box {
    /* background-color: #FAFAF5;
    text-align: center;
    width: 400px;
    border: 2px solid #D0C8C8;
    padding: 30px;
    border-radius: 16px;
    margin: auto; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    position: relative;
    width: 400px;
    padding: 30px;
    background-color: #FAFAF5;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}