<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUResell</title>
    <link rel="stylesheet" href="/static/css/homepage.css?">
</head>
<body>
    <div class="logo"><img src="/static/img/logo.jpg" height="150px"></div>
    <h1 class="welcom">Welcom to CURESELL</h1>
    <p class="assertion">We provide the platform of convenient and safe second-hand transactions for students in CUHK</p>
    
    <!-- Login & Register Option -->
    <div class="option">
        <p class="text">Do you already have an account?</p>
        <button class="login-btn" onclick="window.location.href='login'">Log in</button>
        <p>or</p>
        <button class="reg-btn" onclick="window.location.href='register'">Register</button>
    </div>

    <!-- terms & privacy -->
    <p class="terms">
        By registering, you agree to the 
        <a href="terms.html">terms of service</a> and 
        <a href="privacy.html">privacy policy</a>.
    </p>
</body>
</html>