<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUResell</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel = "stylesheet" href="/static/css/login.css">
</head>
<html>
<body>
    <div class="logo"><img src="/static/img/logo.jpg" height="150px"></div>
    <div class="welcom">Welcom to CURESELL!</div>

    <!-- Login form -->
    <div class="reg_box">
        <form id="reg_form" action="/user/register_handle/" method="post">
            <button type="button" class="close-btn" onclick="goToHomepage()"><i class='bx bx-x'></i></button>
            <p class="title">Login</p>
        
            <!-- input of username -->
            <div class="info">
                <i class='bx bx-user'></i>
                <input type="text" name="username" placeholder="Type in your username" id="username">
                <span class="error_tip">prompt message</span>
            </div>
        
            <!-- input of password -->
            <div class="info">
                <i class='bx bx-lock-alt'></i>
                <input type="password" name="password" placeholder="Input password" id="password">
                <span class="error_tip">prompt message</span>
            </div>
        
            <input type="submit" class="reg-btn" id="reg_btn" value="Login">
        </form>
    </div>

    <!-- go back to homepage -->
    <script>
        function goToHomepage() {
                // Redirect to the homepage
                window.location.href = 'homepage.html'; // Change this to your homepage URL
            }
    </script>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/file.js"></script>
</body>
</html>