<div class="nav-header">
    <!-- the logo with text on top left -->
    <a href="/home_page" class="logo-link">
        <div class="logo-with-name">
            <img class="logo" src="/static/img/logo_rounded.png" />
            <div class="cu-resell">CUResell</div>
        </div>
    </a>

    <!-- the menu on the top right -->
    <div class="nav-menu">
        <a href="/search" class="nav-menu-item">Search</a>
        <a href="/templates/ProductPost.html" class="nav-menu-item">Post</a>
        <a href="/chats" class="nav-menu-item">Chats</a>
        <a href="/templates/profile.html" class="nav-menu-item">Profile</a>
        <a href="/templates/homepage.html" class="nav-menu-item">Login/Register</a>
        <div class="cart-button">
            <a href="/cart" class="nav-cart-text">Cart(3)</a>
        </div>
    </div>
</div>