<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Product info</title>
   <link rel="stylesheet" href="/static/css/global.css" />
   <link rel="stylesheet" href="/static/css/nav_bar.css">
   <link rel="stylesheet" href="/static/css/prod_info.css">
</head>

<body>
   <!-- Include the navigation bar -->
   {% include 'nav_bar.html' %}
   <!-- <div id="nav-bar"></div>
   <script>
      fetch('/templates/nav_bar.html')
         .then(response => response.text())
         .then(data => {
               document.getElementById('nav-bar').innerHTML = data;
         });
   </script> -->

   <!-- Product info container-->
   <div class="prod_info_container">

      <!-- item_info_title -->
      <div class="item_info_title">Item Name</div>



      <!-- Description -->
      <label class="description">Here is the short description of the Item, and there will be many words in here, it might be 1000 words in english so that it could gives clear description</label>


      <div class="image-container">
         <img src="/static/img/logo_rounded.png" alt="the testing logo">
         <img src="/static/img/logo.jpg" alt="the testing logo">
         <img src="/static/img/logo.jpg" alt="the testing logo">
         <img src="/static/img/logo.jpg" alt="the testing logo">
         <img src="/static/img/logo_rounded.png" alt="the testing logo">
      </div>

      <div class="button-container">
         <button class="button">Adding to shopping cart</button>
         <button class="button">Make payment</button>
     </div>
   </div>
</body>

</html>

<script>
 function previewImage(event) {
   const file = event.target.files[0];
   const previewContainer = document.getElementById('image-preview');
   previewContainer.innerHTML = ''; // Clear any existing preview

   if (file) {
     const reader = new FileReader();
     reader.onload = function (e) {
       const img = document.createElement('img');
       img.src = e.target.result;
       previewContainer.appendChild(img);
     };
     reader.readAsDataURL(file);
   }
 }
</script>

<script src="/static/js/prod_post_verification.js"></script>
