<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUResell</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<html>

<body>
    <div class="logo"><img src="/static/img/logo.jpg" height="150px"></div>
    <div class="welcom">Welcom to CURESELL!</div>

    <!-- register form starts-->
    <div class="reg_box">
        <form id="reg_form" action="/register_handle/" method="post">
            <!-- Django template tag for CSRF protection -->
            {% csrf_token %}
            <button type="button" class="close-btn" onclick="goToHomepage()"><i class='bx bx-x'></i></button>
            <p class="title">Register</p>

            <!-- input of username -->
            <div class="info">
                <i class='bx bx-user'></i>
                <input type="text" name="username" id="username" placeholder="Create an unique account ID"
                    value="{{ username|default:'' }}">
                <span class="error_tip">prompt message</span>
                {% if errors.username %}<span class="error_tip">{{ errors.username }}</span>{% endif %}
            </div>

            <!-- input of password -->
            <div class="info">
                <i class='bx bx-lock-alt'></i>
                <input type="password" name="password" id="password" placeholder="Set password"
                    value="{{ password|default:'' }}">
                <span class="error_tip">prompt message</span>
                {% if errors.password %}<span class="error_tip">{{ errors.password }}</span>{% endif %}
            </div>

            <!-- input of confirming password -->
            <div class="info">
                <i class='bx bx-lock-alt'></i>
                <input type="password" name="password2" id="password2" placeholder="Confirm password"
                    value="{{ password2|default:'' }}" />
                <span class="error_tip">prompt message</span>
                {% if errors.confirm_password %}<span class="error_tip">{{ errors.confirm_password }}</span>{% endif %}
            </div>

            <!-- input of contact_method -->
            <div class="info">
                <i class='bx bx-lock-alt'></i>
                <input type="contact_link" name="contact_link" id="contact_link" placeholder="Set contact_link"
                    value="{{ contact_link|default:'' }}" />
                <span class="error_tip">prompt message</span>
                
            </div>

            <input type="submit" class="reg-btn" id="register_btn" value="Register">
        </form>
    </div>
    <!-- register form ends -->

    <!-- back to homepage starts-->
    <script>
        function goToHomepage() {
            // Redirect to the homepage
            window.location.href = "{% url 'homepage' %}"; // Change this to your homepage URL
        }

        document.addEventListener('DOMContentLoaded', function () {
            const errors = {
                username: "{{ error.username|default:'' }}"
            };

            let alertMessage = '';
            for (const [key, message] of Object.entries(errors)) {
                if (message) {
                    alertMessage += message + '\n';
                }
            }

            if (alertMessage) {
                alert(alertMessage);
            }
        }
        );
    </script>
    <!-- back to homepage ends-->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/file.js"></script>
    <script src="/static/js/register.js"></script>
</body>

</html>