<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/global.css" />
  <link rel="stylesheet" href="/static/css/post_prod.css">
  <link rel="stylesheet" href="/static/css/nav_bar.css">
  <link rel="stylesheet" href="/static/css/profile.css">
  <style>
  </style>
  <title>profile</title>
</head>

<body>

  {% include 'nav_bar.html' %}

    <div class="list">
      <div class="list_nav "> 
          <ul class="list-group">
              <li class="list-group-item"><a href="profile.html">presonal information</a></li>
              <li class="list-group-item"><a href="release_records.html">release records</a></li>
              <li class="list-group-item"><a href="purchase_record.html">purchase records</a></li>
              <li class="list-group-item"><a href="verification.html">verfication status</a></li>
          </ul>
      </div>
      <div class="list_body">
          <table class="table">
              <caption class="text-center">release records</caption>
                <thead>   
                    <tr>
                    <th>item name</th>
                    <th>release time</th>
                    <th>buyer</th>
                    <th>item page</th>
                    <th>purchase status</th>
                    </tr>
                </thead>
                  <tbody>
                      <tr>
                          <td>item1</td>
                          <td>2025.3.14</td>
                          <th>buyer2</th>
                          <th><www class="baidu com"></www></th>
                          <th></th>
                      </tr>
                      <tr>
                            <td>item2</td>
                            <td>2025.4.14</td>
                            <th>buyer2</th>
                            <th><www class="baidu com"></www></th>
                      </tr>
                  </tbody>
              </table>     
      </div>        
  </div>
  
</body>
</html>
